
:root{
  --ska_blue: #0097DB;
  --ska_grey: #6B6C6E;
}
html{
  scroll-behavior: smooth;
  transition: 0.7s ease-in-out;
}
body{
  margin:0px; 
  user-select: none;
  box-sizing: border-box;
  font-family:'Roboto Condensed','Trebuchet MS', Arial, sans-serif;
  color: var(--ska_grey);
  
}

h2{
  margin: 0px;
}

p{
  margin: 0px;
}

a{
  text-decoration: none;
}

/* -----------------------HEADER STYLING -----------------*/
#header{
  width: 140px;
  height: 100vh;
  position:fixed;
  box-shadow: 7px 0 9px -7px #6B6C6E;
}

.header_logo_img_text{
  display: flex;
  align-items: baseline;
  padding-top: .5em;
  padding-left: .5em;
}

.header_logo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header_logo_text{
  width: 70px;
  height: 20px;
}

.header_list{
  margin-top: 2em;
  list-style: none;
  padding-left: 0.1px;
}

.header_list_item{
  font-size: 1.2rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: .5rem;
  color: #9a9a9c;
}

.header_list_item:hover{
  color: whitesmoke;
  background: var(--ska_blue);
  text-shadow: 1px 1px 2px 5px #6B6C6E;
}

.icon{
  color: #0097DB;
}

/* HEADER STYLING END */

/*-----------------MAIN STYLING ---------------------------*/
#main{
  padding-left: 140px;
  margin: 0px;
  text-align: center;
  margin-right: 0px;
}
/*-----------------MAIN STYLING SECTIONS ------------------*/
/*---------MAIN STYLING HOME ---------------*/
#home{
  background-color: lightblue;
  height: 100vh;
}
/*---------MAIN STYLING SERVICES ------------*/
#services{
  background-color: lightgreen;
  height: 100vh;
}
/*---------MAIN STYLING ABOUT ----------------*/
#about{
  background-color: lightpink;
  height: 100vh;
}
/*---------MAIN STYLING PORTFOLIO -------------*/
#portfolio{
  background-color: bisque;
  height: 100vh;
}
/*---------MAIN STYLING TEAM -------------------*/
#team{
  background-color: rgb(211, 138, 253);
  height: 100vh;
}
/*------ --MAIN STYLING CONTACT ----------------*/
#contact{
  background-color: rgb(248, 248, 133);
  height: 100vh;
}

#footer{
  
}

  /*-----------------END MAIN STYLING ----------------------*/
}